<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dailymotion</key>
	<dict>
		<key>api_key</key>
		<string>to define</string>
		<key>api_secret</key>
		<string>to define</string>
	</dict>
	<key>facebook</key>
	<dict>
		<key>api_key</key>
		<string>to define</string>
		<key>api_secret</key>
		<string>to define</string>
	</dict>
</dict>
</plist>
